body{
    width: 1200px;
    margin: auto;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 30px;
}


.askq{
    background-color: #33836e;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.phone-number{
    font-weight: bold;
    font-size: 20px;
    display: black;
}

.search{
    width: 427px;
    border: none;
    font-size: 16px;
    background-color: #2F2B430A;
    border-radius: 10px;
    padding: 10px;
}
.contact-info{
    display: grid;
    font-weight: 400;
    font-size: 14px;
    color: rgba(47, 43, 67, 0.5);
}

.bel{
    box-sizing: border-box;
    padding: 10px 20px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.menu{
    text-align: justify;
    display: flex;
    margin-top: 40px;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.text{
    display: flex;
    gap: 10px;
    color: gray ;
}

.title{
    display: flex;
}
.title_t{
    font-size: 38px;
    line-height: 52px;
}
.title_text{
    font-size: 20px;
}

.block{
    display: flex;
    gap: 30px;
}
.ask_b{
    color: white;
    background-color:  #33836e;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.ask_bb{
    display: flex;
    gap: 30px;
}
.phone-num{
    font-weight: bold;
    font-size: 20px;
    color:  #33836e;
    text-decoration-line: underline; 
}

.container_title{
    display: flex;
    gap: 30px; 
}

.hellp{
    font-size: 38px;
}
.text_help{
    font-size: 20px;
}
.free{
    font-size: 38px;
}
.free_ask{
    font-size: 20px;
}
.hottel{
    font-size: 18px;
}
.num{
    font-weight: bold;
    font-size: 22px;
}
.call{
    color: #33836e;
    font-size: 18px;
    font-weight: bold;
}
.tel{
    padding: 10px 20px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    width: 220px;
    height: 150px;
    border-radius: 20px;
    display: grid;
}

.pop{
    display: flex;
    gap:20px
}
.wework{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    margin-right: 116px;
}
.work{
    font-size: 24px;
}
.numb{
    font-size: 42px;
    font-weight: bold;
}
.online{
    flex-direction: column;
    display: flex;
    color: #ffffff;
    justify-content: center;
}
.on_now{ 
    font-size: 18px;
}

.jopa{
    display: flex;
    background: #33836E;
    border-radius: 20px;
    margin-top: 80px;
}
.types{ 
    font-size: 38px;
}
.first{
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 20px;
    width: 560px;
    margin-right: 20px;
}
.p{
    font-size: 19px;
}
.second{
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 20px;
    width: 560px;
}
.trird{box-sizing: border-box;
    padding: 30px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 20px;
    width: 560px;
    margin-right: 20px;
}
.forth{
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 20px;
    width: 560px;
}
.mama{
    display: flex;
    padding-bottom: 20px;
}
.mama2{
    display: flex;
}
.whyus{
    font-size: 38px;
}
.many{
    font-weight: bold;
    font-size: 28px;
    color: #33836E;

}
.infop{
    display: grid;
    font-weight: 400;
    font-size: 16px;
}
.woah{
    display: flex;
    gap: 40px;
}
.why_us{
    font-size: 18px;
}
.why{
    display: flex;
}
.phonen{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
