body{
    width: 1200px;
    margin: auto;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 30px;
}


.askq{
    background-color: #33836e;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.phone-number{
    font-weight: bold;
    font-size: 10px;
    display: black;
}

.search{
    width: 427px;
    border: none;
    font-size: 16px;
    background-color: #2F2B430A;
    border-radius: 10px;
    padding: 10px;
}
.contact-info{
    display: grid;
    color: black;
}

.bell{
    box-sizing: border-box;
    padding: 10px 20px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 10px;
}
.tg{
    box-sizing: border-box;
    padding: 10px 20px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.menu{
    margin-top: 30px;
}